/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-title-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}